<p id="notice"><%= notice %></p>

<h1>All Recipes</h1>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-sm-4">
      <%= render 'recipe', rec: recipe %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
