<p id="notice"><%= notice %></p>

<h1>Ingredients <%= link_to ' ', new_ingredient_path, class:'fas fa-plus' %></h1>

<div class="row">
  <% @ingredients.each do |ingredient| %>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <%= link_to ingredient.name, ingredient %>   <%= link_to ' ', ingredient, class: 'fas fa-trash', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>


