<p id="notice"><%= notice %></p>

<h1><%= @ingredient.name %></h1>

<div class="row">
	<% @ingredient.recipes.each do |rec| %>
  	<div class="col-sm-4">
  		<%= render 'recipes/recipe', rec: rec %>
  	</div>
	<% end %>
</div>



<!--loop to display recipe cards with recipes with that ingredient
	loop over recipe table and if ... include?  -->

<%= link_to '', ingredients_path, class:'fas fa-angle-double-left fa-3x'%>
